body{
   background-color: rgb(9, 61, 77);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
   text-align: center;
}
.title{
   color: rgb(224, 224, 224);
   margin-block: 2%;
}
.cardsSection{
   width: 60%;
   margin: 0 auto;
   margin-block: 2%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
}
